@import "../../../../assets/styles/variables";

.product-card {
  width: 291px;
  height: 498px;
  box-sizing: border-box;
  position: relative;

  .product-card-favorite {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    z-index: 2;
  }

  .product-card-image {
    width: 291px;
    height: 291px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
  }

  .product-card-name {
    height: 52px;
    color: $green-text-color;
    font-size: 20px;
    line-height: 130%;
    margin-top: 15px;
  }

  .product-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(199, 199, 199);

    .product-card-price {
      color: $green-text-color;
      font-size: 22px;
      font-weight: 600;
    }

    .product-card-action .button {
      width: 166px;
      font-size: 16px;
    }
  }

  .product-card-extra {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .product-card-detail {
      display: flex;
      align-items: center;

      span {
        margin-left: 8px;
        color: rgb(154, 168, 155);
        font-size: 16px;
      }
    }
  }
}
