@import "../../../../assets/styles/variables";

.catalog-filter {
  border-radius: 5px;
  margin-bottom: 12px;
  color: $gray-text-color;
  font-size: 16px;

  .catalog-filter-head {
    border-radius: 5px;
    background: rgb(182, 213, 185);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 23px;
    cursor: pointer;

    svg {
      margin-top: 2px;
    }
  }

  &.open .catalog-filter-head {
    border-radius: 5px 5px 0 0;
  }

  .catalog-filter-body {
    box-sizing: border-box;
    border: 1px solid rgb(182, 213, 185);
    border-radius: 0 0 5px 5px;
    padding: 12px 16px;
    display: none;

    .catalog-filter-checkbox {
      display: flex;
      align-items: baseline;
      line-height: 130%;
      margin-bottom: 19px;
      position: relative;
      cursor: pointer;
      user-select: none;
      padding-left: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 3px;
        width: 14px;
        height: 14px;
        box-sizing: border-box;
        border: 1px solid $gray-text-color;
        border-radius: 3px;
      }

      &:has(> input:checked) span {
        color: rgb(81, 145, 87);
      }

      &:has(> input:checked)::before {
        border-color: rgb(81, 145, 87);
      }

      &:has(> input:checked)::after {
        content: url('../../../../assets/img/icons/tick.svg');
        position: absolute;
        left: 2px;
        top: 1px;
      }

      input {
        display: none;
      }
    }

    .catalog-filter-from-to {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &.open .catalog-filter-body {
    display: block;
  }
}
