@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/data-form";

.order {
  padding: 86px 0 107px 0;

  .container {
    .order-title {
      @include head-lora-32;
    }

    .order-info {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      .order-details {
        width: 422px;

        .order-details-info {
          border-radius: 5px;
          padding: 40px;
          background: rgb(231, 241, 232);
          margin-bottom: 14px;

          .order-details-info-title {
            color: $green-text-color;
            font-family: 'Lora', serif;
            font-size: 26px;
            font-weight: 400;
            margin-bottom: 20px;
          }

          .order-details-info-item {
            display: flex;
            align-items: center;
            color: $gray-text-color;
            margin-bottom: 10px;

            .order-details-info-item-text {
              font-size: 16px;
              margin-right: 12px;
            }

            .order-details-info-item-data {
              font-size: 20px;
              font-weight: 500;
            }


            &:last-child {
              margin-bottom: 0;

              .order-details-info-item-text,
              .order-details-info-item-data {
                font-weight: 600;
              }
            }
          }
        }

        .button {
          width: 422px;
          font-size: 16px;
        }
      }
    }
  }
}

.order-popup {
  padding: 100px 70px 219px 71px;
  position: relative;
  text-align: center;
  color: $green-text-color;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/img/page/order-image.png");

  .order-popup-close {
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 30px;
  }

  .order-popup-title {
    @include head-lora-32;
    margin-bottom: 40px;
  }

  .order-popup-content div {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
