@import "../../../../assets/styles/auth-form";

.signup {
  .container {
    display: flex;

    .page-image {
      margin-top: 10px;
      margin-left: 222px;
      font-size: 0;

      img {
        vertical-align: bottom;
      }
    }
  }
}
